@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto; }

body {
  background-color: #F5F5F5;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
  margin: 0 auto; }

h1 {
  font-family: "Inter", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 72px; }

h2 {
  font-family: "Inter", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 42px; }

h3 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h4 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h5 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h6 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

a {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 8.19px;
  color: #333333;
  text-decoration: none; }

p {
  font-size: 18px;
  font-family: "Inter", "Roboto", sans-serif; }

button {
  cursor: pointer; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  border-radius: 50px;
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #AEE1F7; }

header {
  background: #FFFFFF;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  min-height: 100px; }
  header .logo {
    margin-left: 2.5%; }
  header .headerCentered {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px; }
  header .login {
    font-size: 18px;
    margin-right: 2.5%; }

.headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: center; }
  .headerImage h1 {
    background-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30%; }
  .headerImage a#svgButton {
    position: absolute;
    padding: 35px 68px;
    z-index: 0;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #AEE1F7;
    text-decoration: none;
    margin-top: 40%; }
    .headerImage a#svgButton .icon {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1; }
      .headerImage a#svgButton .icon path {
        transition: opacity 0.4s ease; }
        .headerImage a#svgButton .icon path:first-of-type {
          fill: transparent;
          stroke: url(#linearGradient-1);
          stroke-width: 4;
          opacity: 1; }
        .headerImage a#svgButton .icon path.icon--plain {
          opacity: 0;
          stroke: none;
          stroke-width: 0; }
    .headerImage a#svgButton:hover {
      color: white;
      transition: all 500ms ease-in-out; }
      .headerImage a#svgButton:hover path:first-of-type {
        color: white;
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }

main {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center; }
  main section.one h2.text-center {
    margin: 60px 0 0 0 0; }
  main section.one .card {
    min-width: 300px;
    max-width: 360px;
    height: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    color: #333333;
    text-align: center;
    margin: 60px 0.5rem 0 0.5rem; }
    main section.one .card:nth-child(1) .cardParag {
      padding-bottom: 4rem; }
    main section.one .card:nth-child(2) .cardParag {
      padding-bottom: 0.5rem; }
    main section.one .card:nth-child(3) .cardParag {
      padding-bottom: 7rem; }
    main section.one .card h3 {
      margin: 20px 0 0 0;
      text-align: center; }
    main section.one .card hr {
      width: 80%;
      margin: 10px auto 0 auto;
      text-align: left;
      border: 2px solid #E5E5E5; }
    main section.one .card p {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: #6D6D6D; }
    main section.one .card a.cardSvgButton {
      display: block;
      color: #557C8C;
      font-size: 15px;
      position: relative;
      margin: 10px auto;
      padding: 14px 28px;
      border-radius: 28px;
      -webkit-border-radius: 28px;
      -moz-border-radius: 28px;
      -ms-border-radius: 28px;
      -o-border-radius: 28px;
      position: relative;
      z-index: 0;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      text-align: center;
      text-decoration: none; }
      main section.one .card a.cardSvgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        main section.one .card a.cardSvgButton .icon path {
          transition: opacity 0.4s ease; }
          main section.one .card a.cardSvgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1;
            color: white; }
          main section.one .card a.cardSvgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      main section.one .card a.cardSvgButton:hover {
        color: #ffffff;
        transition: all 500ms ease-in-out; }
        main section.one .card a.cardSvgButton:hover path:first-of-type {
          opacity: 0; }
        main section.one .card a.cardSvgButton:hover path.icon--plain {
          opacity: 1; }
  main hr {
    margin: 60px 0 0 0;
    border: 2px solid #E5E5E5; }
  main section.two h2 {
    margin: 65px 0;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #333333; }
  main section.two .socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    text-align: center;
    margin: 65px auto 0 auto;
    justify-content: center; }
    main section.two .socials a {
      text-decoration: none; }
    main section.two .socials .socialMedia {
      margin: 1.5rem; }
    main section.two .socials .roundedBorders {
      font-size: 14px;
      margin: 14px 0 0 0;
      padding: 7px 9px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px; }
  main section.three h2 {
    margin: 53px 0 0 0;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #333333; }
  main section.three h3 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #333333; }
  main section.three .card {
    max-width: 300px;
    min-width: 299px;
    height: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    color: #333333;
    text-align: center;
    margin: 53px 0.5rem 0 0.5rem; }
    main section.three .card:nth-child(1) img {
      margin-top: 25px; }
    main section.three .card img {
      margin-top: 47px; }
    main section.three .card p.price {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 30px;
      color: #333333;
      padding: 0; }
    main section.three .card p.priceExplanation {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      color: #6D6D6D;
      margin: 0 auto;
      padding: 0; }
    main section.three .card p {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      text-align: center;
      color: #6D6D6D; }
    main section.three .card a.cardSvgButton {
      display: block;
      color: #557C8C;
      font-size: 15px;
      position: relative;
      margin: 10px auto;
      padding: 14px 37px;
      border-radius: 37px;
      -webkit-border-radius: 37px;
      -moz-border-radius: 37px;
      -ms-border-radius: 37px;
      -o-border-radius: 37px;
      position: relative;
      z-index: 0;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      text-align: center;
      text-decoration: none; }
      main section.three .card a.cardSvgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        main section.three .card a.cardSvgButton .icon path {
          transition: opacity 0.4s ease; }
          main section.three .card a.cardSvgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1; }
          main section.three .card a.cardSvgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      main section.three .card a.cardSvgButton:hover {
        color: #ffffff;
        transition: all 500ms ease-in-out; }
        main section.three .card a.cardSvgButton:hover path:first-of-type {
          opacity: 0; }
        main section.three .card a.cardSvgButton:hover path.icon--plain {
          opacity: 1; }

footer {
  background: -webkit-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -o-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -ms-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -moz-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: linear-gradient(to top, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  width: 100vw;
  margin: 60px auto 0 auto;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px; }
  footer .footerContainer {
    width: 100%;
    margin: 51px auto;
    text-align: center;
    justify-content: center;
    color: #FFFFFF; }
    footer .footerContainer .footerTop {
      display: flex; }
      footer .footerContainer .footerTop a {
        color: #FFFFFF; }
      footer .footerContainer .footerTop img {
        margin-right: 41px; }
      footer .footerContainer .footerTop .text h4 {
        margin-bottom: 1rem; }
    footer .footerContainer .supportOptions {
      width: 85%;
      margin: 21px 0;
      justify-items: center;
      justify-content: center;
      color: #FFFFFF;
      margin-left: calc(100vw - 97vw); }
      footer .footerContainer .supportOptions .supportOptionsItem {
        width: 12rem;
        text-align: center;
        padding: 20px;
        justify-content: center; }
        footer .footerContainer .supportOptions .supportOptionsItem h5 {
          margin: 10px 0 13px 0; }
        footer .footerContainer .supportOptions .supportOptionsItem p {
          text-align: center; }
      footer .footerContainer .supportOptions hr {
        height: 75%;
        border: 1px solid #FFFFFF; }

@media screen and (min-width: 1171px) {
  main {
    max-width: 1300px; }
  .footerContainer {
    max-width: 1100px; } }
